<%# TODO: find out why this is like this, why do I need partial: to fix it? %>
<%= render partial: 'shared/errors', locals: {obj: @article} %>
<div class="container" id="form">
  <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter a title", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", placeholder: "Enter a description" %>
    </div>
    <div class="form-group form-buttons articles-dropdown">
      <div class="dropdown">
        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "dropdown-item") {cb.check_box(class: "checkbox article-checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group form-buttons">
      <%= link_to "Back to All Articles", articles_path, class: "btn btn-link" %>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>