<h1 align="center"> Articles </h1>
<div class="container">
  <div class="centered">
    <div class="input-group article-form">
      <%= search_form_for @q, class: "input-group" do |f| %>
        <%#= f.label "title_cont", "Title contains", class: "form-control" %>
        <%= f.search_field "title_cont", class: "form-control", placeholder: "Search" %>
        <span class="input-group-prepend">
        <%= f.submit "Search", class: "btn btn-outline-primary" %>
        </span>
      <% end %>
    </div>
  </div>
  <!--  if a search is entered then we render the search results, else render all articles-->
  <% what_to_render = request.fullpath.end_with?("Search") ? @search_results : @articles %>
  <%= render 'article', obj: what_to_render %>
  <div class="centered">
    <!-- pagination changes based on if the current url is a search or just viewing all articles-->
    <%= will_paginate what_to_render, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>