<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-title">
      <p>Blogs on Rails</p>
      <p>Create a new Blog!</p>
      <%= link_to 'Sign up', signup_path, :class => "btn btn-light btn-lg card-link" %>
    </div>
  </div>
</div>


<div align="center" class="container">
  <div class="row home">
    <div class="col-md-4">
      <i class="fas fa-edit home-icon"></i>
      <h2>Articles</h2>
      <p class="home-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur illo recusandae repellat.
        Architecto consequatur cum cumque, dolorem doloremque eligendi ex fugit ipsam laboriosam libero nemo nobis
        pariatur porro totam.
      </p>
      <%= link_to 'See our articles', articles_path, :class => "btn btn-outline-dark" %>
    </div>
    <div class="col-md-4">
      <i class="fas fa-thumbs-up home-icon"></i>
      <h2>Articles</h2>
      <p class="home-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur illo recusandae repellat.
        Architecto consequatur cum cumque, dolorem doloremque eligendi ex fugit ipsam laboriosam libero nemo nobis
        pariatur porro totam.
      </p>
      <%= link_to 'Check out our users', users_path, :class => "btn btn-outline-dark" %>
    </div>
    <div class="col-md-4">
      <i class="fas fa-book-open home-icon"></i>
      <h2>Sign Up</h2>
      <p class="home-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur illo recusandae repellat.
        Architecto consequatur cum cumque, dolorem doloremque eligendi ex fugit ipsam laboriosam libero nemo nobis
        pariatur porro totam.
      </p>
      <%= link_to 'Sign up now', signup_path, :class => "btn btn-outline-dark" %>
    </div>
  </div>

  <div class="row home-image">
    <div class="col-sm-6">
      <img src="https://res.cloudinary.com/dmjolhdaq/image/upload/v1534005545/rails-blog/Webp.net-resizeimage_1.jpg" alt="notebook">
    </div>
    <div align="left" class="col-sm-6">
      <div class="card">
        <div class="card-body bg-light">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at autem eaque in magnam soluta!
            Consequatur delectus, deleniti, ipsa itaque magni modi, officiis saepe sapiente soluta totam voluptas
            voluptate?</p>
        </div>
      </div>

    </div>
  </div>
  <div class="row home-image">
    <div align="right" class="col-sm-6 home-image-second">
      <div class="card">
        <div class="card-body bg-light">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, atque blanditiis corporis cum dolor dolorum
            enim
            ex iure laboriosam maiores modi non numquam possimus provident recusandae similique, velit. Assumenda,
            officiis.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <img src="https://res.cloudinary.com/dmjolhdaq/image/upload/v1534005549/rails-blog/Webp.net-resizeimage.jpg" alt="notebook">
    </div>
  </div>

  <%= link_to 'Sign up now!', signup_path, :class => "btn btn-dark btn-lg" %>
</div>
